body {
    font-family: sans-serif;
    background-color: linen;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
}

.form-group input {
    padding: 0.5em;
}

form button {
    background-color: rgb(66, 66, 186);
    color: white;
    border: none;
    font-size: 16px;
    padding: 0.5em 1em;
    cursor: pointer;
}

form {
    margin: 0 auto;
    width: fit-content;
}

.text-align-center {
    text-align: center;
}